@import '../../global.scss';

.form{
    flex: 3;
    height: fit-content;
    float: right;
    background-color: #fdfbfb;
    margin-right: 15px;

    .formWrap{
        display: flex;
        align-items: center;
        flex-direction: column;
        border: none;
        width: 300px;

        .title{
            background-color: $mainColor;
            color: white;
            width: 100%;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        label{
            margin-top: 10px;
            margin-bottom: 10px;
            color: rgb(102, 102, 102);
            font-weight: 600;
        }

        input{
            border: 1px solid lightgray;
            width: 200px;
            border-radius: 5px;
        }

        span{
            margin: 10px;
            font-weight: 600;
            color: rgb(102, 102, 102);
        }

        .checkbox{
            display: flex;
            align-items: center;
            flex-direction: column;
            
            label{
                font-weight: normal;
            }
        }

        textarea{
            width: 90%;
            height: 200px;
        }

        .btn{
            background-color: $mainColor;
            color: white;
            margin-top: 20px;
            margin-bottom: 20px;
            width: 100px;
        }
    }
}