.hero{
      margin-top: 50px;
      overflow: hidden;

      img{
        width: 100%;
        height: 650px;
        object-fit: cover;
      }
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
    float: center;
}